body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(27, 27, 27);
}
h1{
    color: white;
}
#display{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}   
.box{
    padding: 20px 40px;
    background-color: black;
    border-radius: 20px;
    border:  1px solid gray;
}
button{
    border: 1px solid black;
    cursor: pointer;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: rgb(0, 255, 115);
    
}